:root {
    --linebreak-color: #e3e4e4;
    --background-color: #eceff2
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.drink-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

.drink-container {
    display: flex;
    gap: 50px;
    width: 850px;
    padding-top: 25px;
}

.drink-information-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    color: #656565;
    border-bottom: solid #dfe1e1;
    border-bottom-width: 2px;
}

.drink-header {
    display: flex;
    justify-content: space-between;
}

.drink-name {
    color: #313131;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.drink-ingredients-steps {
    display: flex;
}

.drink-image-container {
    width: 225px;
    height: 175px;
    border-radius: 5px;
}

.drink-notes, .drink-image-container {
    margin-bottom: 25px;
}

