

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: #2d3a40;
}

.header-title {
    font-family: fantasy;
    font-size: 2rem;
    color: white;
}

.logo-icon {
    height: 3rem;
    width: auto;
}

