@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.header-title {
    font-size: 2rem;
    color: white;
    padding-left: 200px;
}

.header-title h2 {
    margin: 0;
    color: #fff;
    font-size: 2em;
    position: absolute;
    transform: translate(-50%, -50%);
}

.header-title h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.header-title h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: #2d3a40;
}

.logo-icon {
    height: 3rem;
    width: auto;
    padding-right: 50px;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}