
.search-container {
    display: flex;
}

input {
    height: 2rem;
    width: 20rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button {
    height: 2.4rem;
    width: 2.4rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}